Body{
    background-image:url(we.jpg);
    background-size:100%;
	border-left-color:white;
    font-family:algerial;
    color:white;
	text-align:center-right;

}
h1{
  color:light blue;
}
p{
  footer:bottom;	
}
ul {
    margin:0px;
    pedding:0px;
    list-style:none;
    text-align:center;
}
p { 
   float:left;
   width:200px;  
   height:40px;
   background-color:black;
   opacity:.9;
   line-height:40px;
   text-align:center;
   border:2px solid;
}
p a {
	text-decoration:none;
	color:white;
	display:block;
ul li :hover ul li{
	display:block;


