Body{
    background-image:url(gf.jpg);
    background-size:1100px;
	border-left-color:white;
    font-family:algerial;
    color:white;
	text-align:center-right;

}
h1{
  color:light blue;
}

p{
 color:ligth blue;	
}